<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Launchpad</title>
    <base href="/">

    <!-- Load Libraries -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/reflect-metadata/Reflect.js"></script>

    <!-- Angular -->
    <script src="/public/js/vendor.bundle.js" defer></script>
    <script src="/public/js/launchpad.bundle.js" defer></script>

    <!-- Styles -->
    <link href="/public/styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
    Loading...
</body>
</html>