tmt-livestream {
    display:block;
    width:100vw;
    left:calc(-50vw + 50%);
    position:relative;
    overflow:hidden;

    background-color:grey;
}

tmt-livestream-player {
    display:block;
    position:absolute;
    z-index:50;
    box-shadow:0 0 20px 0 black;
    outline:2px dashed white;
    overflow: hidden;
    font-size:0;

    iframe {
        width:100%;
        height:100%;
    }
}

.livestream-guard {
    width:100%;
    height:100%;
    position:absolute;
}

.control-corner {
    position:absolute;
    top:-50px;
    right:-50px;
    width:100px;
    height:100px;
    transform:rotate(-45deg);
    cursor:grab;
    background-color:$charcoal;
    z-index:1;
}