html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

[hidden] {
  display: none; }

html, body {
  background-color: #F7F8F8;
  padding: 0;
  margin: 0; }

label {
  display: none; }

tmt-notification-banner {
  display: block;
  position: absolute; }

tmt-settings {
  display: block;
  position: fixed;
  background-color: #F7F8F8; }

tmt-header {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #36454F;
  width: 600px;
  height: 80px;
  color: #F7F8F8; }

tmt-livestream {
  display: block;
  background-color: grey; }
